* {
margin-left: 0ex;  
font-family: 'Quicksand', sans-serif;   
}
body{
    max-height: 200px;
}

html{
    max-height: 200px;
}

.swiper {
    width: 320px;
    height: 568px;
  }

.header {
position: fixed;
display: inline;
width: 320px;
height: 40px;
top: 0;
z-index: 10;
background-color: white;
border-style: solid;
border-color: rgb(238, 238, 238);
border-width: 0px 0px .5px 0px;
}

    .header #logo {
        width:30px;
    }

    .header #logo img {
        width: 25px;
        float: left;

    }

    .header h1{
        display:inline;
        position: relative;
        font-size: 8px;
        float: center;
        margin-left: 10px;
        top:10px;
        font-family: 'Rye', cursive;
        word-spacing: 3px;
        letter-spacing: 3px;
    }

    .header .nav_menu {
        position: relative;
        float: right;
        right: 30px;
        margin-top: 20px;
        bottom: 9px;
        }

            .buy_btn {
                margin-right: 10px;
            }

            .shopping_btn{
                margin-right: 10px;
            }


 /* DESTAQUES */

#destaques{
    display:block;
    position: relative;
    top: 50px;
    width: 300px;
    height: 460px;
}

    /* DESTAQUE 1 */

        #destaque1 > #colecaopadrao{
            position: relative;
            letter-spacing: 5px;
            text-align: center;
            
        }

        #destaque1 > #weardropdead{
            position: relative;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            top: 60px;
            left: 20px;
            width: 70px;
            color: white;
            background-color: black;
        }

        .hearticon {
            position: relative;
            left:95px;
            font-size:25px;
            bottom: 40px;

        }

        #wica{
            width: 200px;
            height: 325px;
            position: absolute;
            top: 130px;
            left: 80px;
            z-index: -1;
            
        }

    /* DESTAQUE 2 */
    #destaques #destaque2 {
    position: relative;
    display: block;
    }

        #lunar{
            width: 225px;
            height: 325px;
            position: absolute;
            top: 130px;
            left: 80px;
            z-index: -1;
            
        }

        #proteja{
        position: relative;
        left: 50px;
        top:20px;
        letter-spacing: 3px;
        text-align: center;
        color: white;
        background-color: black;
        width: 150px;

        }

        #com{
        position: relative;
        left: 50px;
        top:5px;
        }

        #dropdeadtext1{
            position: relative;
            font-size: 36px;
            text-align: center;
            font-family: 'Rye', cursive;
            font-style: italic;
            left:5px;
            bottom: 30px;
        }

        .maskicon {
        font-size: 40px;
        position: relative;
        left: 210px;
        bottom: 150px;

        }


    .swiper-container {
        width: 600px;
        height: 300px;
    }

    /* DESTAQUE 3 */

    #sykes{
    position: absolute;
    width: 45%;
    left:150px;
    bottom:8px;
    }

    #steeltext{
        position: relative;
        letter-spacing: 5px;
        text-align: center;
    }

    #steeltext2{
    position: relative;
    width: 60px;
    left: 40px;
    top: 20px;
    }

    #steeltext3{
    position: relative;
     font-weight: bold;
    left: 38px; 
    top: 15px;  
    }

    .brainicon{
    position: relative;
    font-size: 40px;
    left:50px;
    top:35px;
    }

    .bolticon1{
    font-size: 20px;
    }

    .bolticon2{
    position: relative;
    font-size: 20px;
    left: 8px;
    }

    .bolticon3{
    position: relative;
    font-size: 20px;
    right: 32px;
    }
    /* DESTAQUE 4 */
    #destaque4 #vistadd{
    position: absolute;
    width: 80%;
    bottom: 100px;
    left:40px;
    }

    #destaque4{
    position: relative;
    }

    #ideologiatext{
    position: relative;
    left:25px;
    top:40px;
    }

    #ideologiatext2{
    position: relative;
    letter-spacing: 5px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    left:25px;
    top:20px;
    color: white;
    background-color: black;
    width: 250px;
    }

    .planeticon{
    position: relative;
    font-size: 30px;
    left:   180px;
    bottom: 90px;
    }

    