.header {
    position: fixed;
    display: block;
    width: 320px;
    height: 40px;
    top: 0;
    z-index: 10;
    background-color: white;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-width: 0px 0px .5px 0px;
    }
    
        .header #logo {
            width:30px;
        }
    
        .header #logo img {
            width: 25px;
            float: left;
    
        }
    
        .header h1{
            display:inline;
            position: relative;
            font-size: 8px;
            float: center;
            margin-left: 10px;
            top:10px;
            font-family: 'Rye', cursive;
            word-spacing: 3px;
            letter-spacing: 3px;
        }
    
            .header .nav_menu {
                position: relative;
                float: right;
                right: 30px;
                margin-top: 20px;
                bottom: 9px;
                }
        
                    .buy_btn {
                        position: relative;
                        margin-right: 10px;
                        right: 7.5px;
        
                    }
        
                        #clothes{
                            bottom: 5px;
                            right: 60px;
                            position: relative;
                            display: inline;
                            text-decoration: none;
                            width: 15px;
                            justify-content: center;
                            background-color: Transparent;
                            border:none;
                        }
        
                        #clothes:active{
                            border-style: none;
                            background: none;
                            background-color: transparent;
                        }
        
                        #clotheslist {
                            right:0;
                            display: none;
                            position: absolute;
                            background-color: #f9f9f9;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                        }
        
                        #clotheslist a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        }
        
                    .shopping_btn{
                        top: 13px;
                        position: relative;
                        margin-right: 10px;
                        left:45px;
                    }

                    .contact_btn{
                        position: absolute;
                        left:0px;
                        top:0px;
        
                    }

                        #contact{
                        position: relative;
                        left: 60px;
                        top:14px;
                            
                        }

/* CAMISETAS */

#listacamisetas{
position: absolute;
margin-top: 40px;
margin-left: 20px;
width: 100%;
height:350px;
}

/* CAMISETA 1 */

#camiseta1{
position: absolute;
}

        #camisetabroken{
            left: 15px;
            display: block;
            position: relative;
            width: 250px;
            top: 50px;
        }

        #camiseta1 > h3{
            position: relative;
            top: 50px;
            background-color: transparent;
        }

        #camiseta1 > span{
            position: relative;
            left: 200px;
            top: 13px;
        }

/* CAMISETA 2 */

#camiseta2{
    position: absolute;
    }
    
        #camisetadd{
            left: 15px;
            display: block;
            position: relative;
            width: 250px;
            top: 400px;
        }
        
        #camiseta2 > h3{
            position: relative;
            top: 400px;
            background-color: transparent;
        }
        
        #camiseta2 > span{
            position: relative;
            left: 215px;
            top: 365px;
            z-index: 10;
        }

/* CAMISETA 3 */

#camiseta3{
    position: absolute;
    }
    
        #camisetaremote{
            left: 15px;
            display: block;
            position: relative;
            width: 250px;
            top: 650px;
        }
        
        #camiseta3 > h3{
            position: relative;
            top: 600px;
            background-color: transparent;
        }
        
        #camiseta3 > span{
            position: relative;
            left: 200px;
            top:565px;
        }

/* CAMISETA 4 */

#camiseta4{
    position: absolute;
    }
    
        #camisetapanther{
            left: 15px;
            display: block;
            position: relative;
            width: 250px;
            top: 1050px;
        }
        
        #camiseta4 > h3{
            position: relative;
            top: 1050px;
            background-color: transparent;
        }
        
        #camiseta4 > span{
            position: relative;
            left: 200px;
            top: 1015px;
        }