* {
margin-left: 0ex;  
    
}

.header {
position: fixed;
display: inline;
width: 100%;
height: 40px;
top: 0;
z-index: 10;
background-color: white;
border-style: solid;
border-color: rgb(238, 238, 238);
border-width: 0px 0px .5px 0px;
}

.header #logo {
    width:30px;
}

.header #logo img {
    width: 25px;
    float: left;

   }

.header h1{
    display:inline;
    position: relative;
    font-size: 8px;
    float: center;
    margin-left: 10px;
    top:10px;
    font-family: 'Rye', cursive;
    word-spacing: 3px;
    letter-spacing: 3px;
}

.header .nav_menu {
    position: absolute;
    float: right;
    right: 23px;
    margin-top: 0;
    bottom: 9px;
    }

.home_btn{
 margin-right: 5px;
}

.buy_btn {
    margin-right: 5px;
}

.shopping_btn{
    margin-right: 5px;
}

#destaques{
    display:block;
    position: relative;
    top: 50px;
    width: 300px;
    height: 460px;
}

#wica{
    width: 225px;
    height: 325px;
    position: absolute;
    top: 130px;
    left: 80px;
    
}

#destaque1 h2 {
    position: absolute;
    top:0px;
    margin-left: 15px;
    z-index: 1;
}

#destaque1 h3 {
    position: absolute;
    top:40px;
    left:150px;
}

#lunar{
    width: 225px;
    height: 325px;
    position: absolute;
    top: 130px;
    left: 80px;
    
}

#destaques #destaque2 {
position: relative;
display: block;
}

#destaque2 h2 {
    position: absolute;
    top:0px;
    margin-left: 15px;
    z-index: 1;
}

#destaque2 h3 {
    position: absolute;
    top:40px;
    left:150px;
}

.swiper-container {
    width: 600px;
    height: 300px;
  }